#MyStack {
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#itemList{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

#itemTitle{
    padding-top: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.itemTile{
    width: 7em;
    margin: auto;
    text-align: center;
    background-color: lightgray;
    padding: 8px;
    padding-top: 12px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    border-bottom: 2px solid white;
    flex-basis: 20%;
}

.displayedItemTile{
    border-bottom: 2px solid black;
}

#TypeScript-logo {
    color: #007ACC;
}

#React-logo {
    color: #61DBFB;
}

#GraphQL-logo {
    color: #e535ab;
}

#PostgreSQL-logo {
    color: #0064a5;
}

.itemTile:hover{
    border-bottom: 2px solid black;
}

.itemIcon{
    margin: auto;
}

#itemDescriptionText{
    margin: 0px;
}

#itemAlternativesText{
    margin-bottom: 0px;
}


/* Mobile Size */
@media only screen and (max-width: 800px) {
    .itemTile{
        flex-basis: 40%;
    }
  }