.filterBox{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.filterTag{
    background-color: lightgrey;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    margin: 5px;
    cursor: pointer;
}

.tagText{
    padding-top: 5px;
    padding-bottom: 4px;
    border-right: 1px solid black;
    padding-right: 5px;
}

#filterBox-title{
    margin-left: 0px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.tagText-sub{
    padding-top: 5px;
    padding-bottom: 4px;
}

#tagCloseButton{
    padding-top: 4px;
    padding-left: 5px;
}

#tagOpenButton{
    padding-top: 4px;
    padding-left: 5px;
}

.project{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}

.projectPreview{
    display: block;
    float: left;
    width: auto;
    height: fit-content;
    max-width: 25%;
    border-radius: 10px;
    margin-right: 10px;
}

.project-topContent{
    margin-bottom: 10px;
}

.project-title{
    margin-top: 0;
    margin-bottom: 0;
}

.viewButtons{
    display: flex;
}

#view-live{
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin: 5px;
    cursor: pointer;
}

#view-source{
    background-color: lightblue;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    margin: 5px;
}