#headshot {
    width: 40%;
    border-radius: 50%;
    border: 5px solid black;
    padding: 3px;
    background-color: #fff;
}

#profileName{
    margin-bottom: 5px;
}

#profileTitle{
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}