#headshot {
    width: 40%;
    border-radius: 50%;
    border: 5px solid black;
    padding: 3px;
    background-color: #fff;
}

#profileName{
    margin-bottom: 5px;
}

#profileTitle{
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    color: white;
}

#profileText{
    width: 80%;
    margin: auto;
    text-align: center;
}

/* Tablet Size */
@media only screen and (max-width: 1200px) {
    #headshot{
        width: 15%;
    }
  }

/* Mobile Size */
@media only screen and (max-width: 800px) {
    #headshot{
        width: 22%;
    }
  }