.Social{
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.flexItem{
    width: 25%;
    color: black;
}

.flexItem svg{
    border-radius: 5px;
}

.flexItem svg:hover{
    background-color: white;
    -webkit-transition: background-color 400ms;
    -ms-transition: background-color 400ms;
    transition: background-color 400ms;
}

/* Tablet Size */
@media only screen and (max-width: 1200px) {
    .Social{
        width: 40%;
    }
  }

/* Mobile Size */
@media only screen and (max-width: 800px) {
    .Social{
        width: 40%;
    }
  }